
**/target/
**/build/
**/*.jar
**/*.war
!**/wrapper/*.jar


**/.idea/
**/*.iml
**/.vscode/
**/.eclipse/
**/*.swp

.DS_Store
Thumbs.db


**/logs/
**/*.log

**/application-local.yml
**/application-secret.yml