
spring:
  application:
    name: product-service
  datasource:
    url: jdbc:postgresql://localhost:5432/ProductService
    username: postgress
    password: roottoor
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format-sql: true
server:
  port: 8080
